body {
    margin: 0;
    overflow: hidden;
}

.frame {
    width: 300px;
    height: 300px;
    border: 2px solid #333;
    position: relative;
    margin: 50px auto;
    overflow: hidden;
}

.box {
    width: 50px;
    height: 50px;
    background-color: #3498db;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.5s ease-in-out;
}
