body {
    font-family: Arial, sans-serif;
  }

  form {
    margin-bottom: 20px;
  }

  #result {
    font-weight: bold;
  }


  label {
    display: block;
    margin-bottom: 5px;
  }

  input, button {
    margin-bottom: 10px;
  }

  .error-message {
    color: red;
    font-size: 14px;
  }



  #circle {
    width: 50px;
    height: 50px;
    background-color: red;
    border-radius: 50%;
    position: relative;
    
  }