#mainSquare {
    position: relative;
    width: 300px;
    height: 300px;
    border: 2px solid #000;
  }

  #smallSquare {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: red;
  }

  #scale {
    position: relative;
    width: 300px;
    height: 20px;
    background-color: #eee;
    margin-top: 50px;
  }

  #mark {
    position: absolute;
    width: 10px;
    height: 20px;
    background-color: rgb(47, 13, 134);
    border-radius: 15%;
    cursor: pointer;
  }

  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }

  #mSquare {
    position: relative;
    width: 300px;
    height: 300px;
    border: 2px solid #000;
  }

  .greenSquare {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: green;
  }


  #randomColorSquare {
    position: relative;
    width: 500px;
    height: 600px;
    border: 2px solid #000;
    overflow: hidden;
  }

  .colorSquare {
    position: absolute;
    width: 20px;
    height: 20px;
    border: 1px solid #fff; /* Add a white border for better visibility */
  }


  