.container{
    width: 800px;
    min-height: 300px;
    background-color: aqua;
    margin: auto;
    border: solid 3px sienna;
    position: relative;
}

.menu{
     width: 800px;
     margin: auto;
     margin-top: 20px;
}

.circle{
    border: solid 3px rebeccapurple;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    position: absolute;
}

