body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
  }

  .tab-container {
    text-align: center;
  }

  .tab {
    display: none;
    border: 1px solid #ddd;
    padding: 20px;
    color: white;
    position: relative;
  }

  .active-tab {
    display: block;
  }

  .tab-content {
    overflow: hidden; /* Ensure the sliding effect works properly */
    border: 1px solid #ddd;
  }

  .tab-header {
    cursor: pointer;
    padding: 10px;
    background-color: #ddd;
    display: inline-block;
    margin-right: 5px;
  }

  .shape {
    position: absolute;
    border-radius: 50%;
  }

  .circle {
    width: 50px;
    height: 50px;
    background-color: #3498db;
  }

  .square {
    width: 50px;
    height: 50px;
    background-color: #e74c3c;
  }