#calculator {
    width: 300px;
    margin: 20px auto;
    padding: 10px;
    border: 2px solid #9d7272;
    border-radius: 5px;
    text-align: center;
    background-color: aqua;
  }

  button {
    width: 40px;
    height: 40px;
    margin: 5px;
    font-size: 16px;
  }