#frame {
    width: 200px;
    height: 100px;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
  }

  button {
    margin: 5px;
    padding: 8px;
    font-size: 16px;
  }